Source: cvars
Priority: optional
Maintainer: Gabe Sibley <gabe.sibley@gmail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Section: libs
Homepage: http://github.com/arpg/cvars

Package: cvars
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVars is a small C++ library that allows run-time tweaking of C++ variables.
 Within CVars, GLConsole is an example that allows OpenGL developers to easily
 add a 'Quake-style' debugging console to their applications.  GLConsole relies
 on CVars.

